@model  Licenta.Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>No Borders - Log In</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">

                @using (Html.BeginForm())
                {
                     @Html.ValidationSummary(true, "", new {@style="color:red"});
                    <div class="form-group">

                        @Html.LabelFor(user => user.email)
                        @Html.TextBoxFor(user => user.email, new { @class = "form-control", @placeholder = "Enter email" })
                        @Html.ValidationMessageFor(user => user.email, "", new { @class = "text-danger"})


                    </div>
                    <div class="form-group">
                        @Html.LabelFor(user => user.password)
                        @Html.TextBoxFor(user => user.password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                        @Html.ValidationMessageFor(user => user.password,"", new { @class = "text-danger" })
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary btn-block">Login</button>

                }


                <div class="text-center">
                    <a class="d-block small mt-3" href="/Login/registercandidate">Register as a Candidate</a>
                    <a class="d-block small" href="/Login/registercompany">Register as a Recruiter</a>
                    <a class="d-block small" href="/Login/ForgotPassword">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
