@model Licenta.Models.CompanyRegister
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>No Borders - Register</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="/assets/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true, "", new { @style = "color:red" });


                    <div class="form-group">
                        @Html.LabelFor(company => company.company_name)
                        @Html.TextBoxFor(company => company.company_name, new { @class = "form-control", @placeholder = "Enter company name" })
                        @Html.ValidationMessageFor(company => company.company_name, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(company => company.first_name)
                                @Html.TextBoxFor(company => company.first_name, new { @class = "form-control", @placeholder = "Enter first name" })
                                @Html.ValidationMessageFor(company => company.first_name, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(company => company.last_name)
                                @Html.TextBoxFor(company => company.last_name, new { @class = "form-control", @placeholder = "Enter last name" })
                                @Html.ValidationMessageFor(company => company.last_name, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(company => company.email)
                        @Html.TextBoxFor(company => company.email, new { @class = "form-control", @placeholder = "Enter email" })
                        @Html.ValidationMessageFor(company => company.email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.LabelFor(company => company.password)
                                @Html.TextBoxFor(company => company.password, new { @class = "form-control", @placeholder = "Enter password", @type = "password", @id = "inputPassword" })
                                @Html.ValidationMessageFor(company => company.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm password" onkeyup="checkPass(); return false;">
                                <span id="confirmMessage" class="confirmMessage"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" value="Submit" class="btn btn-primary btn-block">Register</button>
                }
            </div>
            <div class="text-center">
                <a class="d-block small mt-3" href="/Login/Login">Login Page</a>
                <a class="d-block small" href="/Login/RegisterCompany">Register as a Recruiter</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
        function checkPass() {
            //Store the password field objects into variables ...
            var pass1 = document.getElementById('inputPassword');
            var pass2 = document.getElementById('confirmPassword');
            //Store the Confimation Message Object ...
            var message = document.getElementById('confirmMessage');
            //Set the colors we will be using ...
            var goodColor = "#66cc66";
            var badColor = "#ff6666";
            //Compare the values in the password field
            //and the confirmation field
            if (pass1.value == pass2.value) {
                //The passwords match.
                //Set the color to the good color and inform
                //the user that they have entered the correct password
                pass2.style.backgroundColor = goodColor;
                message.style.color = goodColor;
                message.innerHTML = "Passwords Match!"
            } else {
                //The passwords do not match.
                //Set the color to the bad color and
                //notify the user.
                pass2.style.backgroundColor = badColor;
                message.style.color = badColor;
                message.innerHTML = "Passwords Do Not Match!"
            }
        }
    </script>
</body>

</html>
